/* Catppuccin Frappe Blue userContent.css*/

@media (prefers-color-scheme: dark) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #c6d0f5 !important;
      --color-accent-primary: #8caaee !important;
      --color-accent-primary-hover: rgb(163, 186, 241) !important;
      --color-accent-primary-active: rgb(140, 145, 238) !important;
      background-color: #303446 !important;
      --in-content-page-background: #303446 !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    body {
      background: url("images/post_apoc.png") !important;
      background-repeat: no-repeat !important;
      background-size: cover !important; /* Resize the background image to cover the entire container */
      background-position: center !important; /* Center the image */
    }
  }
}
